# Operating System
.DS_Store
Thumbs.db

# Large Video & Media Files (> 50MB)
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar.gz
*.rar
*.ova
*.iso


# Python & Environment
__pycache__/
*.pyc
*.pyo
.venv/
env/
*.pth
*.pt
*.onnx
*.onnx.data

# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.idx
*.ilg
*.ind
*.listing
*.synctex.gz
*.fls
*.fdb_latexmk

# Database temporary files
*.db-journal
*.db-wal
*.db-shm

# IDE
.idea/
*.iml
.vscode/

# Flutter & Dart build artifacts
.dart_tool/
.flutter-plugins*
**/build/
**/.pub-cache/
**/.dart_tool/
.idea/
.vscode/
scirbru_aiot207
Flutter AIoT
leaf workshop/
